

body {
    background-color: #d9d9d9;
    }

img {
  width: 30%; /* Will shrink image to 30% of its original width */
height: auto; 
display: block;
margin-left: auto;
margin-right: auto;   
margin-bottom: 20px;
}

#album-art { /* Will shrink image to 30% of its original width */
  width: 20%;
  height: auto; 
display: block;
margin-left: auto;
margin-right: auto

}

#search-btn {
  margin: 50px 0 0 0;
  cursor: pointer;
  }
  
#search-again {
  display:none;
  margin: 10px 0 10px 0;

}

#main-video {
  margin-left: 20.83333333%;
}
input {
  background: rgba(255,255,255,0.4);
  border: none;
  /* position: relative;
  display: block; */
  outline: none;
  width: 400px;
  height: 20px;
  top: 40px;
  margin: 50px 0 0 0;
  padding: 10px;
  color: #333;
  
  
  /* -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5); */
}
#similar-videos h3 {
  font-size: 3rem;
}
#song-input {
  margin: 0;
}
  ::-webkit-input-placeholder { color: #ff841b;} 
  :-moz-placeholder { color: #ff841b; }
  ::-moz-placeholder { color: #ff841b; }
  :-ms-input-placeholder { color: #ff841b; }



